In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np

Ex1
--

In [5]:
dt1 = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/weather_stations.csv')
dt2 = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/nyc_weather_2018.csv')
dt1.head()

                  id                           name  ...  longitude  elevation
0  GHCND:US1CTFR0022        STAMFORD 2.6 SSW, CT US  ... -73.577000       36.6
1  GHCND:US1CTFR0039          STAMFORD 4.2 S, CT US  ... -73.568176        6.4
2  GHCND:US1NJBG0001      BERGENFIELD 0.3 SW, NJ US  ... -74.001983       20.1
3  GHCND:US1NJBG0002  SADDLE BROOK TWP 0.6 E, NJ US  ... -74.083358       16.8
4  GHCND:US1NJBG0003           TENAFLY 1.3 W, NJ US  ... -73.977500       21.6

[5 rows x 5 columns]

In [7]:
dt1 = dt1.rename(columns={'id':'station'})
dt1.head()

             station                           name  ...  longitude  elevation
0  GHCND:US1CTFR0022        STAMFORD 2.6 SSW, CT US  ... -73.577000       36.6
1  GHCND:US1CTFR0039          STAMFORD 4.2 S, CT US  ... -73.568176        6.4
2  GHCND:US1NJBG0001      BERGENFIELD 0.3 SW, NJ US  ... -74.001983       20.1
3  GHCND:US1NJBG0002  SADDLE BROOK TWP 0.6 E, NJ US  ... -74.083358       16.8
4  GHCND:US1NJBG0003           TENAFLY 1.3 W, NJ US  ... -73.977500       21.6

[5 rows x 5 columns]

In [8]:
dt2.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [9]:
dt = dt1.merge(dt2, on = 'station')
dt.head()

             station                   name  ...  attributes  value
0  GHCND:US1CTFR0039  STAMFORD 4.2 S, CT US  ...        ,,N,    0.0
1  GHCND:US1CTFR0039  STAMFORD 4.2 S, CT US  ...        ,,N,    0.0
2  GHCND:US1CTFR0039  STAMFORD 4.2 S, CT US  ...        ,,N,    0.0
3  GHCND:US1CTFR0039  STAMFORD 4.2 S, CT US  ...        ,,N,    2.0
4  GHCND:US1CTFR0039  STAMFORD 4.2 S, CT US  ...        ,,N,   15.5

[5 rows x 9 columns]

In [10]:
aver = dt.query('datatype== "SNOW" and name.str.contains("NJ US")', engine='python').groupby('station').mean()
aver

                    latitude  longitude  elevation       value
station
GHCND:US1NJBG0003  40.914670 -73.977500       21.6    9.685185
GHCND:US1NJBG0015  40.791492 -74.139790       17.7    4.400000
GHCND:US1NJBG0017  40.951090 -74.118264       28.0    5.449198
GHCND:US1NJBG0018  40.848094 -74.000247       21.3    4.682692
GHCND:US1NJBG0023  41.019050 -74.233383      149.4   11.401361
...                      ...        ...        ...         ...
GHCND:USC00283704  40.748100 -74.152000        7.3    2.928767
GHCND:USC00284987  40.296960 -74.001530        9.1    0.000000
GHCND:USC00289187  41.044400 -74.293300       74.7    2.625000
GHCND:USW00014734  40.682500 -74.169400        2.1    2.652055
GHCND:USW00094741  40.850000 -74.061390        2.7  132.444444

[66 rows x 4 columns]

In [11]:
aver['elevation'].mean()

58.34848484848487

Ex2
--

In [12]:
fb = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/fb.csv')
fb.head()

         date        high         low        open       close    volume
0  2018-01-02  181.580002  177.550003  177.679993  181.419998  18151900
1  2018-01-03  184.779999  181.330002  181.880005  184.669998  16886600
2  2018-01-04  186.210007  184.100006  184.899994  184.330002  13880900
3  2018-01-05  186.899994  184.929993  185.589996  186.850006  13574500
4  2018-01-08  188.899994  186.330002  187.199997  188.279999  17994700

In [13]:
fb = fb.sort_values(by='date')
fb.head()

         date        high         low        open       close    volume
0  2018-01-02  181.580002  177.550003  177.679993  181.419998  18151900
1  2018-01-03  184.779999  181.330002  181.880005  184.669998  16886600
2  2018-01-04  186.210007  184.100006  184.899994  184.330002  13880900
3  2018-01-05  186.899994  184.929993  185.589996  186.850006  13574500
4  2018-01-08  188.899994  186.330002  187.199997  188.279999  17994700

In [14]:
fb_ = fb.assign(pct_change = lambda x: x.volume.pct_change())
fb_.head()

         date        high         low  ...       close    volume  pct_change
0  2018-01-02  181.580002  177.550003  ...  181.419998  18151900         NaN
1  2018-01-03  184.779999  181.330002  ...  184.669998  16886600   -0.069706
2  2018-01-04  186.210007  184.100006  ...  184.330002  13880900   -0.177993
3  2018-01-05  186.899994  184.929993  ...  186.850006  13574500   -0.022073
4  2018-01-08  188.899994  186.330002  ...  188.279999  17994700    0.325625

[5 rows x 7 columns]

In [16]:
fb_.sort_values('pct_change').tail(n=5)

           date        high         low  ...       close     volume  pct_change
182  2018-09-21  167.250000  162.809998  ...  162.929993   45994800    1.428961
142  2018-07-26  180.130005  173.750000  ...  176.259995  169803700    1.880265
52   2018-03-19  177.169998  170.059998  ...  172.559998   88140100    2.611796
8    2018-01-12  181.479996  177.399994  ...  179.369995   77551300    7.087865
0    2018-01-02  181.580002  177.550003  ...  181.419998   18151900         NaN

[5 rows x 7 columns]

Ex3
--

In [17]:
df = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L3/earthquakes.csv')
df.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [18]:
df_ = df[df['magType'] == 'ml']
df_.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
6   NaN  NaN  ...  1539473596465  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [19]:
df_['mag'].describe()

count    6803.000000
mean        1.221488
std         0.823894
min        -1.260000
25%         0.680000
50%         1.200000
75%         1.730000
max         5.100000
Name: mag, dtype: float64

In [20]:
df_['q'] = pd.cut(df_['mag'], bins=[-2, 0, 2, 4, 6], labels=['q1', 'q2', 'q3', 'q4'])
df_.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  alert  cdi  ...                                                url   q
0   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...  q2
1   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...  q2
2   NaN  4.4  ...  https://earthquake.usgs.gov/earthquakes/eventp...  q3
3   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...  q2
6   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...  q2

[5 rows x 27 columns]

In [21]:
df_[df_['q'] == 'q4']

      alert  cdi  ...                                                url   q
1015  green  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...  q4
4101  green  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...  q4
9133  green  2.2  ...  https://earthquake.usgs.gov/earthquakes/eventp...  q4

[3 rows x 27 columns]

In [22]:
df_['q'].value_counts()

q2    5312
q3     984
q1     504
q4       3
Name: q, dtype: int64

Ex4
--

In [24]:
dat = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/weather_by_station.csv')
dat.head()

         date datatype  ... value                    station_name
0  2018-01-01     PRCP  ...   0.0           STAMFORD 4.2 S, CT US
1  2018-01-01     PRCP  ...   0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2  2018-01-01     SNOW  ...   0.0  NORTH ARLINGTON 0.7 WNW, NJ US
3  2018-01-01     PRCP  ...   0.0        GLEN ROCK 0.7 SSE, NJ US
4  2018-01-01     SNOW  ...   0.0        GLEN ROCK 0.7 SSE, NJ US

[5 rows x 5 columns]

In [26]:
dat1 = dat[dat['datatype'] == 'SNOW'].groupby('station').mean()
dat1

                        value
station
GHCND:US1CTFR0039   54.300000
GHCND:US1NJBG0003    9.685185
GHCND:US1NJBG0015    4.400000
GHCND:US1NJBG0017    5.449198
GHCND:US1NJBG0018    4.682692
...                       ...
GHCND:USW00014732    2.443836
GHCND:USW00014734    2.652055
GHCND:USW00094728    2.758904
GHCND:USW00094741  132.444444
GHCND:USW00094789    2.342466

[98 rows x 1 columns]

In [40]:
dat['date'] = pd.to_datetime(dat['date'], unit = 's')

pandas.core.series.Series

In [41]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80256 entries, 0 to 80255
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          80256 non-null  datetime64[ns]
 1   datatype      80256 non-null  object
 2   station       80256 non-null  object
 3   value         80256 non-null  float64
 4   station_name  80256 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 3.1+ MB

In [44]:
dat['month'] = pd.DatetimeIndex(dat['date']).month
dat.head()

        date datatype  ...                    station_name  month
0 2018-01-01     PRCP  ...           STAMFORD 4.2 S, CT US      1
1 2018-01-01     PRCP  ...  NORTH ARLINGTON 0.7 WNW, NJ US      1
2 2018-01-01     SNOW  ...  NORTH ARLINGTON 0.7 WNW, NJ US      1
3 2018-01-01     PRCP  ...        GLEN ROCK 0.7 SSE, NJ US      1
4 2018-01-01     SNOW  ...        GLEN ROCK 0.7 SSE, NJ US      1

[5 rows x 6 columns]

In [46]:
pd.crosstab(
    index = dat.station_name,
    columns = dat.month,
    colnames= ['month'],
    values = dat.value,
    aggfunc= lambda x : (x >0).sum(),
)

month                             1      2      3   ...     10     11     12
station_name                                        ...
ALBERTSON 0.2 SSE, NY US        14.0   19.0   17.0  ...   12.0   14.0   12.0
AMITYVILLE 0.1 WSW, NY US       15.0   20.0   16.0  ...   20.0   22.0   13.0
AMITYVILLE 0.6 NNE, NY US       20.0   18.0   16.0  ...   12.0   13.0   14.0
ARMONK 0.3 SE, NY US            47.0   32.0   40.0  ...   15.0   18.0   23.0
BLOOMINGDALE 0.7 SSE, NJ US     11.0   17.0   10.0  ...   24.0   21.0   18.0
...                              ...    ...    ...  ...    ...    ...    ...
WESTCHESTER CO AIRPORT, NY US  215.0  224.0  233.0  ...  262.0  253.0  250.0
WESTFIELD 0.6 NE, NJ US         19.0   15.0   16.0  ...   16.0   12.0    9.0
WOODBRIDGE TWP 1.1 ESE, NJ US   20.0   19.0   22.0  ...   12.0   12.0   11.0
WOODBRIDGE TWP 1.1 NNE, NJ US   13.0   16.0   14.0  ...   13.0   12.0   13.0
WOODBRIDGE TWP 3.0 NNW, NJ US    3.0   13.0    8.0  ...    6.0    8.0    5.0

[109 rows x 12 columns]

In [48]:
%cd /content/drive/MyDrive/ML/Data Visualization/Data-Preparation-and-Visualization

/content/drive/MyDrive/ML/Data Visualization/Data-Preparation-and-Visualization

In [49]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   Week4-Pandas/Hw4-pandas.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	Week5-Pandas/

no changes added to commit (use "git add" and/or "git commit -a")

In [50]:
!git add .

In [51]:
!git commit -m "Week5-Pandas.ipynb"

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@dff72e747c63.(none)')

In [52]:
!git config --global user.email "anhnm.cap@gmail.com"
!git config --global user.name "anhnm"

In [53]:
!git commit -m "Week5-Pandas.ipynb"

[main fc9b17b] Week5-Pandas.ipynb
 2 files changed, 2 insertions(+), 1 deletion(-)
 rewrite Week4-Pandas/Hw4-pandas.ipynb (91%)
 create mode 100644 Week5-Pandas/Week5-Pandas.ipynb

In [54]:
!git push

Counting objects: 6, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (5/5), done.
Writing objects: 100% (6/6), 10.34 KiB | 1.15 MiB/s, done.
Total 6 (delta 3), reused 0 (delta 0)
remote: Resolving deltas: 100% (3/3), completed with 2 local objects.
To https://github.com/minhanh1135/Data-Preparation-and-Visualization
   c9beb89..fc9b17b  main -> main